.controls {
  margin-bottom: 10px;
}

.start-button {
    background-color: cornflowerblue;
}

.stop-button {
  background-color: red;
}

.reset-button {
  background-color: darkorange;
}

button {
  margin-right: 5px;
}

/** Table Style **/
table {
  border-collapse: collapse;
  border-color: black;
  border-block-style: solid;
  border-block-width: 5px;
}

td {
  width: 20px;
  height: 20px;
  border: 1px solid #ccc;
}

.alive {
  background-color: black;
}

.grid {
  display: inline-block;
}

.row {
  display: flex;
}

.cell {
  width: 15px;
  height: 15px;
  border: 1px solid #ccc;
  background-color: white;
  cursor: pointer;
}

  .cell.alive {
    background-color: black;
  }
